RewriteEngine On
RewriteRule ^profil$ user_profil.php [L]
RewriteRule ^register$ register.php [L]

RewriteRule ^edit_article/([0-9]+)$ add_article.php?article_id=$1 [L]
RewriteRule ^edit_article/([0-9]+)/(.*)$ add_article.php?article_id=$1&r=$2 [L]

RewriteRule ^create_article/(.*)$ add_article.php?r=$1 [L]
RewriteRule ^create_article$ add_article.php [L]

RewriteRule ^profil/([0-9]+)$ user_profil.php?user_id=$1 [L]

RewriteRule ^article/([0-9]+)$ display_article.php?article_id=$1 [L]
RewriteRule ^article/$ display_article.php [L]
RewriteRule ^article$ display_article.php [L]
RewriteRule ^article/([0-9]+)/(.*)$ display_article.php?article_id=$1&a=$2 [L]

RewriteRule ^([0-9]+)$ index.php?page_id=$1 [L]