.changeGrp{
    display : none;
}

.card_article {
    transition-duration: 0.2s;
}

.card_article:hover {
    box-shadow: 0px 5px 5px grey;
}

html, body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: -100px;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}